*{
    margin:0px;
    padding: 0px;
}
table {
    background-color: aqua;
    border-width: 10px;
    border-style: groove;
    border-color: blue;
    border-radius: 5px;
    width: 100%;
}
#heading{
    background-color: chartreuse;
    font-size: 80px;
    text-align: center;
    color: brown;
}
#row1{
   background-color: red;
   text-align: center;
}
#row2{
 background-color: burlywood;
 text-align: center;
}